[*.cs]

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = error

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false
csharp_preferred_modifier_order = extern, abstract, virtual, internal, public, private, protected, sealed, unsafe, static, new, readonly, override, volatile, async:suggestion
csharp_space_after_cast = false
csharp_style_namespace_declarations = block_scoped:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_separate_import_directive_groups = true
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion

# ReSharper properties
resharper_align_multiline_statement_conditions = false
resharper_arguments_literal = positional
resharper_blank_lines_after_block_statements = 0
resharper_blank_lines_around_auto_property = 0
resharper_blank_lines_around_property = 0
resharper_blank_lines_around_single_line_type = 0
resharper_braces_for_fixed = required_for_multiline
resharper_braces_for_using = required_for_multiline
resharper_constructor_or_destructor_body = block_body
resharper_csharp_alignment_tab_fill_style = use_tabs_only
resharper_csharp_blank_lines_around_field = 0
resharper_csharp_blank_lines_around_invocable = 0
resharper_csharp_blank_lines_around_type = 0
resharper_csharp_keep_blank_lines_in_declarations = 100
resharper_csharp_max_line_length = 320
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_max_attribute_length_for_same_line = 70
resharper_object_creation_when_type_evident = target_typed
resharper_parentheses_non_obvious_operations = none, conditional_and, bitwise, bitwise_inclusive_or, bitwise_exclusive_or, shift, bitwise_and
resharper_parentheses_redundancy_style = remove
resharper_parentheses_same_type_operations = true
resharper_place_accessorholder_attribute_on_same_line = true
resharper_place_expr_accessor_on_single_line = true
resharper_place_expr_method_on_single_line = true
resharper_place_expr_property_on_single_line = true
resharper_place_simple_embedded_statement_on_same_line = false
resharper_place_simple_initializer_on_single_line = false
resharper_prefer_explicit_discard_declaration = true
resharper_prefer_separate_deconstructed_variables_declaration = true
resharper_remove_blank_lines_near_braces_in_code = false
resharper_remove_blank_lines_near_braces_in_declarations = false
resharper_space_before_catch_parentheses = true
resharper_space_before_fixed_parentheses = true
resharper_space_before_foreach_parentheses = true
resharper_space_before_for_parentheses = true
resharper_space_before_if_parentheses = true
resharper_space_before_switch_parentheses = true
resharper_space_before_using_parentheses = true
resharper_space_before_while_parentheses = true
resharper_space_within_single_line_array_initializer_braces = false
resharper_wrap_array_initializer_style = chop_always
resharper_wrap_object_and_collection_initializer_style = chop_always
